.add-ons {
  padding: 0;
  list-style: none;
}

.add-on {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #d6d9e6;
  border-radius: 10px;
  cursor: pointer;
  
  &-checkbox {
    margin: 0 15px 0 0;
  }

  &-info {
    flex-grow: 1;
  }

  &-desc {
    color: #9699ab;
    font-size: 14px;
  }

  &-cost {
    color: #473dff;
    font-size: 14px;
  }
  
  &.selected {
    background-color: #fafbff;
    border-color: #473dff;
  }
}