.plans {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.plan {
  width: 30%;
  padding: 20px 15px;
  border: 1px solid #d6d9e6;
  border-radius: 10px;

  
  &-info {
    font-size: 14px;
  }

  &-name {
    color: #02295a;
  }

  &-cost {
    color: #9699ab;
  }
}