.plans {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.plan {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 150px;
  padding: 20px 15px;
  margin-right: 20px;
  border: 1px solid #d6d9e6;
  border-radius: 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: #473dff;
  }

  &.selected {
    background-color: #fafbff;
    border-color: #473dff;
  }

  &-icon {
    width: 40px;
    height: 40px;
  }
  
  &-info {
    font-size: 14px;
  }

  &-name {
    color: #02295a;
  }

  &-cost {
    color: #9699ab;
  }

  &-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    background-color: #fafbff;
    border-radius: 10px;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 18px; 
  margin: 0 20px;

  &-label {
    font-size: 14px;
    color: #9699ab;
    &.selected {
      color: #02295a;
    }
  }
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02295a;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #02295a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #02295a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}